[Unit]
Description=paramem pull every {{INTERVAL}}s

[Timer]
OnBootSec=30
OnUnitActiveSec={{INTERVAL}}
AccuracySec=5
Unit=paramem-pull.service

[Install]
WantedBy=timers.target
